# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\Users\Karans\Dropbox\CSD\Kurslar\Tubitak-UML-DesignPatterns-Feb-2020\DesignPatterns\src\Java\001-SOLID\001-SRP\TodoList\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
